.catagoriesList {
  padding: 1.2rem;
  list-style: none;
  display: block;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.219);
  background: linear-gradient(to right bottom, grey, gray);
  background-color: var(--light-color);
}
.catagoriesList h2 {
  color: black;
  margin-left: -12rem;
  text-transform: capitalize;
}
.catagoriesList li {
  margin: 1.2rem 0 1.2rem 3.2rem;
  padding: 1.2rem 3.2rem;
  border-radius: 0.9rem;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-weight: 500;
  width: 80%;
}

.catagoriesList li:hover {
  /* background-color: var(--light-color); */
  background-color: white;
  background-blend-mode: darken;
  /* color: rgb(139, 137, 137); */
}
