.helpNavBar {
  display: flex;
  padding: 0.5rem 3.2rem;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  height: fit-content;
}
.helpNavBar input {
  background-color: white;
  padding: 1rem 3.2rem;
  align-items: end;
}
.helpSend {
  display: flex;
  background-color: var(--primary-color);
  height: fit-content;
}
.headerBox {
  background-color: black;
}

.helpSend input {
  color: rgb(253, 253, 253);
  width: 100%;
  background: none;
  padding: 1rem 3.2rem;
  /* border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem; */
  outline: none;
}
.helpSend input::placeholder {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  letter-spacing: 1.3;
}
.helpSend button {
  color: rgb(255, 255, 255);
  background: none;
  /* border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem; */
  padding: 1rem 3.2rem;
}
.chatBox {
  overflow: hidden;
  padding: 0 3.2rem;
  display: grid;
  min-height: 75.5vh;
  max-height: 100%;
}
.chatBox:hover {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.helpBox {
  box-shadow: 0 0 1rem rgba(41, 40, 40, 0.199);
  height: 90vh;
  /* padding: 1.2rem; */
  display: grid;
  align-items: center;
  align-items: stretch;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  overflow: hidden;
  width: 70%;
}
.box {
  display: grid;
  grid-template-columns: 3fr 7fr;
  padding: 3.2rem;
  border-radius: 2rem;
  /* gap: 3.2rem; */
  background-color: white;
}
.infoHelp {
  gap: 1.2rem;
  padding: 3.2rem;
  height: 90vh;
  background-color: var(--primary-color);
  overflow: hidden;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: max-content;
}
.infoHelp:hover {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.description {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 1.8;
  width: 50rem;
  margin: 0 auto;
}
.ContainerBox {
  background-color: white;
  padding: 1.2rem;
}

.box {
  display: flex;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  margin: auto;
  gap: 0;
}
.box1 li {
  padding: 0.5rem;
  border-radius: 0.9rem;
  display: grid;
  text-transform: capitalize;
}
.box1 li:nth-child(3) {
  background-color: rgb(41, 243, 68);
}
.box1 li:nth-child(2) {
  background-color: red;
}
.box1 li:nth-child(5) {
  background-color: rgb(23, 194, 206);
}
.box1 li:nth-child(4) {
  background-color: rgb(224, 228, 15);
}
.headerOrder {
  grid-column: 1 / -1;
  text-align: start;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.sectionTitle {
  margin-top: 30px;
}
.faqAnswer {
  /* color: red; */
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.205);
  padding: 0.65rem 1.2rem;
  line-height: 1.9;
  margin-right: auto;
  max-width: 60%;

  border-bottom-right-radius: 1.2rem;
  border-top-right-radius: 0rem;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 0rem;
}
.faqItem {
  margin: 2rem;
}
.faqSection {
  justify-content: center;
}
.faqQuestion {
  border-bottom-left-radius: 1.2rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 0rem;
  margin: 2rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.356);
  padding: 1rem 3.2rem;
  width: fit-content;
  cursor: pointer;
  transition: all 1s;
  font-size: 1.6rem !important;
  margin-left: auto;
}

.hidden {
  display: none;
}
.contactInfo p {
  margin-bottom: 10px;
}
.helpAbout h3 {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}
.container h2 {
  font-size: 2.4rem;
  color: rgb(128, 125, 125);
  text-align: center;
}
h4 {
  margin: 1rem 0;
  text-align: start;
  font-size: 2rem;
  cursor: pointer;
  text-transform: capitalize;
}
.contactInfo p {
  cursor: pointer;
  display: flex;
}
.socialLink {
  display: flex;
  list-style: none;
  font-size: 2rem;
  gap: 3.2rem;
  color: white;
  text-transform: capitalize;
  margin-left: auto;
}
h3 {
  text-transform: capitalize;
  margin: 1.2rem;
  cursor: pointer;
  display: flex;
  box-shadow: 0 0 0.5rem gold;
  padding: 0.5rem;
}
.history li:hover {
  scale: 1.05;
}
.infoHelp h3:hover {
  scale: 1.05;
}
span {
  margin-left: auto;
}
.history {
  list-style: none;
  display: grid;
  color: white;
  gap: 1rem;
}
.history li {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 2.2rem;
  text-transform: capitalize;
  box-shadow: 0 0 0.2rem gold;
}
.account {
  color: rgb(255, 255, 255) !important;
}
.account {
  list-style: none;
  text-transform: capitalize;
  gap: 1rem;
}
.account li {
  margin: 1.2rem 3.2rem;
}
.account :hover {
  color: rgb(255, 255, 255);
}
.account h3 {
  box-shadow: none;
  color: white;
}

.infoHelp h3 {
  color: white;
}
.profile {
  width: 4rem;
  height: 4rem;
  background-color: rgb(9, 128, 231);
  border-radius: 50%;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
}
.usersInfo {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.navlink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  margin: 1.2rem auto;
  column-gap: 3.2rem;
  margin-top: 6.2rem;
}
.navlink p {
  padding: 0.7rem 1.2rem;
  background-color: rgb(211, 208, 205);
  border-radius: 0.7rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.288);
  margin-top: 3.2rem;
}
.navlink p {
  cursor: pointer;
}
.last {
  height: 9rem;
  width: 100%;
  margin-bottom: 9.2rem;
}
